<h1>Tweets</h1>

<p><a {{action 'addTweet'}}>Add Tweet</a></p>

{{#if isAdding}}
<form>
  <div class="form-group">
    <label for="newMessage">Your Message:</label>
    {{textarea id="newMessage" class="form-control" value=newMessage rows=8 maxlength=140}}
  </div>
  <div class="form-group">
    <label for="newHashtag">Hashtag:</label>
    {{input id="newHashtag" class="form-control" value=newHashtag}}
  </div>

  <button class="btn btn-primary" {{action 'saveTweet'}}>Submit</button>
</form>

{{else}}
  <ul>
    {{#each item in tweets}}
      {{#if timestampShowing}}
        <button {{action 'hideTimestamp'}}>
          <li>message and timestamp{{message}} {{timestamp}}</li>
        </button>
      {{else}}
        <button {{action 'showTimestamp'}}>
          <li>message{{message}}</li>
        </button>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}
